#panel {
    margin: 0 auto;
    padding: 30px;
    width: 600px;
    background-color: #eee;
}

#todo-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#todo-list li {
    padding: 10px;
    display: flex;
}

#todo-list li:hover {
    background-color: #f8f8f8;
}

#todo-list .checkbox {
    margin-right: 10px;
    background-color: #aaa;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#todo-list li.complete .checkbox {
    background-color: #777;
}

#todo-list .content {
    flex: 1;
}

#todo-list li.complete .content {
    text-decoration: line-through;
}

#todo-list .action>* {
    padding: 0 10px;
    cursor: pointer;
}

.hide {
    display: none;
}

#signIn, #signUp {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#signIn h2, #signUp h2 {
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
}

#signIn input, #signUp input {
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 10px;
    width: 320px;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: lighter;
    font-size: 14px;
}

#signIn button, #signUp button {
    border: 0;
    border-radius: 5px;
    width: 322px;
    height: 50px;
    font-size: 16px;
    background: #000;
    font-weight: lighter;
    color: #fff;
}

#signUp .errors, #signIn .errors {
    background-color: rgba(128, 128, 128, 0.795);
    display: none;
}

#signUp .errors.open, #signIn .errors.open {
    display: block;
}